.App {
  text-align: center;
  background-color: aqua;
  border: 4px dotted;
  width: 85%;
  margin: 3% auto;
  padding: 2%;
}

h1 {
  color: darkblue;
}

.smurfsCard {
  background-color: lightpink;
  border: 5px double;
  width: 75%;
  margin: 3% auto;
  padding: 2%;
}

.smurf {
  width: 90%;
  border: 3px dotted lightcoral;
  margin: 2% auto;
  padding: 1%;
}

h2 {
  color: darkmagenta;
  font-size: 2rem;
}
